@{
    ViewData["Title"] = "That's somting";
}

<div class="text-center">
    <h1 class="display-4">Fine</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Take this one</a>.</p>
</div>